ol{
  background-color: yellow;
}

ol.evenPhrase li:nth-child(even){
  color: green;
}

ol.oddPhrase li:nth-child(odd){
  text-transform: uppercase;
}

h1, h3 {
  color: red;
}
h1 em, h3 em {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}
li em{
  font-weight:bold;
}

ul li:first-child(n+4){
  color: blue;
}
/* - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir “java*” no texto, utilize uma cor de fundo rosa.
- (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte “temática do site” */